footer {
  margin-top: 23px;
  .wrapper {
	height: 243px;
	background-color: white;
	font-size: 0.875rem;
	color: #4F4F4F;
	display: flex;
	justify-content: space-around;
	align-items: center;

	.contacts {
	  height: 166px;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;

	  .logo {
		font-size: 1.125rem;
		font-weight: 700;
		color: #333333;
	  }

	  .adress {
		display: flex;
		justify-content: space-between;
		width: 254px;

		p {
		  width: 226px;
		}
	  }

	  .telephone {
		display: flex;
		justify-content: space-between;
		width: 145px;
	  }

	  .social {
		width: 150px;
		display: flex;
		justify-content: space-between;
	  }
	}

	.footer_text {
	  width: 561px;
	}
  }
}
