.listing {
	.card_list {
	  height: 1280px;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  .card_container {
		background-color: #FFFFFF;
		width: 850px;
		height: 200px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.card_img {
		  width: 224px;
		  height: 168px;
		}

		.card_description {
		  width: 575px;
		  display: flex;
		  flex-direction: column;
		  height: 80%;

		  .card_description_heading {
			display: flex;
			justify-content: space-between;

			h3 {
			  font-weight: 500;
			  font-size: 1.125rem;
			  max-width: 450px;
			}

			.card_price {
			  p {
				font-weight: 500;
			  }
			}
		  }
		  .card_description_text {
			width: 399px;
			span {
			  font-weight: 300;
			  font-size: 0.875rem;
			}
		  }
		  .card_tag {
			width: 194px;
			display: flex;
			justify-content: space-between;
			margin-top: auto;

			div {
			  background-color: #C4C4C4;
			  display: inline-block;

			  p {
				font-weight: 300;
				font-size: 0.750rem;
				color: #FFFFFF;
				padding: 5px;
			  }
			}
		  }
		}
	  }
	}

	.page_description {
	  width: 565px;
	  margin-top: 75px;

	  p {
		color: #4F4F4F;
	  }
	}

}
